@font-face {
    font-family: "VC";
    src: url("../assets/fonts/cm-unicode/cmunbsr.otf")  format("opentype");
}

@font-face {
    font-family: "Latex";
    src: url("../assets/fonts/cm-unicode/cmunsl.otf")  format("opentype");
}

@font-face {
    font-family: "Latex_bf";
    src: url("../assets/fonts/cm-unicode/cmunbl.otf")  format("opentype");
}

body {
    font-family: "Latex";
    margin: 0;
}

hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 2px solid black;
    padding: 0;
}

.vc_font{
    font-family: "VC";
}

.app{
    position: relative;
    width: 100%;
    height: 100%;
}
.header_container{
    padding: 1% 5% 0 5%;
}

.header{
    display: flex;
    width: 100%;
}

.header_textfield{
    display: flex;
    flex-direction: column;
    justify-content : space-between;
    width: 100%;
}

.header_section{
    font-size: large;
}

.logo{
    position: relative;
    height:10%;
    float: right;
    padding: 10%;
    margin-right: 5%;
}

.section_container{
    position: absolute;
    width: 90%;
    height: auto;
    padding: 0 5% 1% 5%;
}

.section{
    display: flex;
    width: 100%;
    height: 100%;
}

.section_textfield{
    justify-content : space-between;
    width: 100%;
}

.three_container{
    float: right;
    margin: 0 5% 0 5%;
}

.three_container_abs_size{
    width: 70vh;
    height: 70vh;
}

.three_container_overlay{
    width: 71vh;
    height: 71vh;
    background-image: radial-gradient(
        ellipse closest-side,
        rgba(255, 255, 255, 0) 70%,
        rgba(255, 255, 255, 0.1) 75%,
        rgba(255, 255, 255, 0.3) 80%,
        rgba(255, 255, 255, 0.5) 85%,
        rgba(255, 255, 255, 0.75) 90%,
        white 95%,
        white);
    pointer-events: none;
    position: absolute;
}

.three_scene_container{
    pointer-events: all;
}

.footer_container{
    position: absolute;
    bottom: 0;
    width: 90%;
    height: 7%;
    padding: 0 5% 1% 5%;
}

.footer{
    display: flex;
    width: 100%;
    height: 100%;
}

.footer_textfield{
    justify-content : space-between;
    width: 100%;
}