.app{
    width: 100%;
    height: 100%;
}

.three_container{
    float: right;
    margin: 5%;
}

.three_container_abs_size{
    width: 30%;
    height: 50%;
}

.three_container_overlay{
    background-image: radial-gradient(rgba(0, 255, 255, 0) 30%, white, white);
    pointer-events: none;
    position: absolute;
}

.three_scene_container{
    pointer-events: all;
}